@custom-variant dark (&:where(
    .dark,
    .dark *,
    [data-theme="dark"],
    [data-theme="dark"] *
  ));

/* WebKit on touch Apple devices */
@custom-variant safari-ios {
  @media (pointer: coarse) {
    @supports (hanging-punctuation: first) and (font: -apple-system-body) {
      @slot;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-success-background: var(--success-background);
  --color-success-foreground: var(--success-foreground);

  --color-info-background: var(--info-background);
  --color-info-foreground: var(--info-foreground);

  --color-warning-background: var(--warning-background);
  --color-warning-foreground: var(--warning-foreground);

  --color-error-background: var(--error-background);
  --color-error-foreground: var(--error-foreground);

  --font-main: var(--font-inter);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --font-system:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --radius: 0.8rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --success-background: oklch(98.05% 0.01 174.28);
  --success-foreground: oklch(51.28% 0.11 163.56);

  --info-background: oklch(97.81% 0.01 261.79);
  --info-foreground: oklch(48.78% 0.243 264.4);

  --warning-background: oklch(98.1% 0.011 54.5);
  --warning-foreground: oklch(55.7% 0.158 45.36);

  --error-background: oklch(97.6% 0.012 10.99);
  --error-foreground: oklch(50.95% 0.209 28.51);

  --card: oklch(0.98 0.0025 245);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* TODO: adjust for WCAG AA(dark)/AAA */
  --primary: oklch(58.222% 0.22825 270.934);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.708 0 0);
  --scrollbar-thumb: rgba(0, 0, 0, 0.3);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.5);
}

.dark,
html[data-theme="dark"] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --success-background: oklch(17.19% 0.015 171.77);
  --success-foreground: oklch(70.19% 0.158 160.44);

  --info-background: oklch(16.77% 0.016 261.49);
  --info-foreground: oklch(61.87% 0.207 259.23);

  --warning-background: oklch(17.27% 0.017 53.44);
  --warning-foreground: oklch(77.24% 0.173 65.37);

  --error-background: oklch(16.58% 0.019 13.41);
  --error-foreground: oklch(70.22% 0.189 22.23);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(66.102% 0.22548 25.192);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --scrollbar-thumb: rgba(255, 255, 255, 0.2);
  --scrollbar-thumb-hover: rgba(255, 255, 255, 0.4);
}
